<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mappers.ChallengeMapper">
    <select id="getChallengeList" parameterType="String" resultType="org.example.domain.Challenge">
        select * from challenge <where> view_yn = #{view_yn} </where>
    </select>

    <select id="getChallengeDetail" parameterType="int" resultType="org.example.domain.Challenge">
        select * from challenge <where> challenge_id = #{challenge_id} </where>
    </select>

</mapper>